<ion-header>
    <ion-navbar>
      <ion-title>
        Liquids list
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
        <ion-item *ngFor="let liquido of liquidos|async">
            <h2>{{liquido.name}}</h2>
            <p> Aroma: {{liquido.flavour}}</p>
            <button ion-button item-end color="secondary" (click)="actualizarLiquido(liquido)">Actualizar</button>
            <button ion-button item-end color="danger" (click)="eliminarLiquido(liquido.id)">Eliminar</button>
        </ion-item>
      <!--
      <h2>{{liquidos}}</h2>
      <template *ngFor="let liquido of liquidos|async">
        <h2>{{liquido.name}}</h2>
      </template>
    -->
    </ion-list>
  </ion-content>