<link href="../../assets/css/ionicons.css" rel="stylesheet" type="text/css">

<ion-header>
    <ion-navbar>
      <ion-title text-center class="vapeplanner-title">
        VapePlanner
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
        <ion-item *ngFor="let liquido of liquidos|async">
            <h2>{{liquido.name}}</h2>
            <p> Nicotina: {{liquido.nicotine}} mg</p>
            <p> Cantidad: {{liquido.quantity}}</p>
            <p> Creación: {{liquido.creation_date}}</p>
            <button ion-button item-end color="secondary" (click)="actualizarLiquido(liquido)"><ion-icon name="create"></ion-icon></button>
            <button ion-button item-end color="danger" (click)="eliminarLiquido(liquido)"><ion-icon name="trash"></ion-icon></button>
        </ion-item>
      <!--
      <h2>{{liquidos}}</h2>
      <template *ngFor="let liquido of liquidos|async">
        <h2>{{liquido.name}}</h2>
      </template>
    -->
    </ion-list>
  </ion-content>