<ion-header>
    <ion-navbar>
      <ion-title>
        Liquids list
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    Liquids list
    <ion-list>
        <ion-item *ngFor="let liquido of liquidos|async" >
            <h2>{{liquido.name}}</h2>
            <p> {{liquido.description}} ({{liquido.base}})</p>
        </ion-item>
      <!--
      <h2>{{liquidos}}</h2>
      <template *ngFor="let liquido of liquidos|async">
        <h2>{{liquido.name}}</h2>
      </template>
    -->
    </ion-list>
  </ion-content>